<%- include modulesTools/headerLoader %>
<%- include modulesTools/header %>
<div class="wrapper main-content">
  <div class="waitBox">
    <div class="waitContainer">
      <div class="item" id="pink">
        <div class="chewing">
          <div class="eye left"><span></span></div>
          <div class="eye right"><span></span></div>
          <div class="mounth"></div>
          <div class="arm left"></div>
          <div class="arm right"></div>
        </div>
        <div class="shadow"></div>
      </div>

      <div class="item" id="orange">
        <div class="chewing">
          <div class="eye left"><span></span></div>
          <div class="eye right"><span></span></div>
          <div class="mounth"></div>
          <div class="arm left"></div>
          <div class="arm right"></div>
        </div>
        <div class="shadow"></div>
      </div>

      <div class="item" id="blue">
        <div class="chewing">
          <div class="eye left"><span></span></div>
          <div class="eye right"><span></span></div>
          <div class="mounth"></div>
          <div class="arm left"></div>
          <div class="arm right"></div>
        </div>
        <div class="shadow"></div>
      </div>
    </div>
    <a id="back_home" class="backHome" href="/"></a>
    <div class="waitWords">您的账号正在审核中，请耐心等待...</div>
  </div>
</div>
<script type="text/javascript" src="/js/module/forgetPassword.js"></script>
<%- include modulesTools/footerLoader %>