<%- include ../modulesTools/headerLoader %>
<%- include ../modulesTools/header %>
<div class="dayReportWrapper">
  <div class="container-fluid ">
    <%- include dayReport/dayReportMyselfList %>
  </div>
</div>
<%- include ../modulesTools/footerLoader %>