@charset "UTF-8";
body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

.closeProse h2 i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }
.closeProse .list {
  opacity: 0;
  height: 0 !important; }

.prose-tree {
  position: relative;
  width: 960px;
  margin: 0 auto; }
  .prose-tree h2 {
    height: 40px;
    width: 170px;
    padding-right: 30px;
    font-size: 24px;
    line-height: 40px;
    text-align: right; }
    .prose-tree h2 a {
      color: #58a6fb;
      text-decoration: none; }
      .prose-tree h2 a i {
        display: block;
        position: relative;
        height: 0;
        width: 0;
        left: 190px;
        top: -20px;
        border-width: 6px;
        border-style: solid;
        border-color: #59a7fb transparent transparent transparent;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        -webkit-transform-origin: 6px 3px;
        -moz-transform-origin: 6px 3px;
        -ms-transform-origin: 6px 3px;
        -o-transform-origin: 6px 3px;
        transform-origin: 6px 3px; }
  .prose-tree .list {
    margin: 10px 0;
    overflow: hidden;
    -webkit-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    -moz-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    -ms-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    -o-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    bottom: 0; }
    .prose-tree .list .cls {
      padding: 30px 0;
      color: #a1a4b8;
      zoom: 1;
      list-style-type: none; }
      .prose-tree .list .cls:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .prose-tree .list .cls .version, .prose-tree .list .cls .date {
        float: left;
        display: block;
        clear: left;
        width: 200px;
        line-height: 24px;
        text-align: right; }
      .prose-tree .list .cls .date {
        font-size: 18px;
        line-height: 32px;
        color: #bec1d5; }
      .prose-tree .list .cls .more, .prose-tree .list .cls .intro {
        float: left;
        display: block;
        width: 650px;
        margin-left: 100px;
        line-height: 24px; }
      .prose-tree .list .cls .intro {
        font-size: 18px;
        line-height: 32px;
        color: #63d029; }

.basicBg {
  background: #23E5DB;
  color: #fff; }

body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

#gotop {
  background: url(../../img/backup.png);
  position: fixed;
  z-index: 93;
  right: 30px;
  cursor: pointer;
  width: 33px;
  height: 33px;
  bottom: 50px; }

.site-footer {
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  border-top: 1px solid #eee; }
  .site-footer .right {
    float: right; }
  .site-footer .site-footer-links {
    margin: 0;
    list-style: none; }
    .site-footer .site-footer-links li {
      display: inline-block;
      line-height: 16px; }
    .site-footer .site-footer-links a {
      color: #fff;
      text-decoration: none;
      background: transparent; }

.footerGb {
  height: 80px;
  background-color: #008ead !important;
  /* background: rgba(48, 102, 101, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); */ }
  .footerGb:before {
    background-color: #008ead !important;
    content: "";
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: -1; }

.footerContentBg {
  /*background: url(../img/gb/giveusacallimage.png) no-repeat bottom center;*/
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); */
  height: 80px; }

/*
#bkDiv
{
  // The rainbow Css3 pattern
  background: linear-gradient(0deg, transparent 0%, #9c3a26 10%,
          #198441 25%,#009cff 37%, #174b09 50%,
          #2d527c 62%, #893646 75%, #3b562b 90%,transparent 100%);
  background-color: #d04982;
  background-size: 10px 125px;
  background-repeat : repeat;
  height : 80px;
  width : 100%;

  background-position:center -65px;
  transition: background-position 1s;
}
//底部背景文字遮罩层

#bkDiv:hover
{
  // on Hover the background translates 65px down
  background-position:center 0px;
}

#bkDiv .theText
{
  font-family: Impact, Charcoal, sans-serif;
  stroke-width: 5px;
  letter-spacing: 5px;
  fill-opacity: 0.1;
  stroke-opacity: 1;
  -webkit-animation: cAnim1 0.5s linear 0s infinite;
  font-size:65px;
  stroke:#000;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}*/
/*
#bkDiv
{
  // Red dots Css3 pattern
  background: linear-gradient(-45deg, #036 30%,transparent 45%,transparent 55%,#036 70%),
  linear-gradient(45deg, #036 30%,transparent 45%,transparent 55%,#036 70%);
  background-color: #f00;
  background-size: 15px 15px;
  background-position:0px 0px;
  height:80px;
  width:100%;
  // Animating red dots (infinite loop)
  animation: cAnim 1s linear 0s infinite;
  -webkit-animation: cAnim 1s linear 0s infinite;
}

@keyframes cAnim
{
  100% {background-position:15px 0px;}
}

#bkDiv #theText
{
  font-family:Impact, Charcoal, sans-serif;
  font-size:120px;
  stroke:#000;
  stroke-width:5px;
  fill-opacity:0.1;
  stroke-opacity:1;
  // Strobe light effect animation
  animation: cAnim1 0.5s linear 0s infinite;
  -webkit-animation: cAnim1 0.5s linear 0s infinite;
}
@keyframes cAnim1
{
  100% {fill-opacity:0.9;stroke-opacity:0.5;}
}*/
body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

.headerWrapper {
  width: 100%;
  background: #278CDE;
  z-index: 9;
  height: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); }

.headerDiv {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100% !important; }

.logo {
  float: left;
  width: 200px;
  height: 100%; }

.logo span {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif; }
  .logo span p {
    font-size: 12px;
    padding: 0;
    margin: 0; }

.forget_password {
  position: relative;
  width: 100%;
  height: 600px; }
  .forget_password .forget_img {
    width: auto;
    height: 500px;
    margin: 100px 50px;
    background: url("../../img/forgetPassword/bg.png") no-repeat center; }
  .forget_password .backHome {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 125px;
    height: 125px;
    background: url("../../img/forgetPassword/back.png") no-repeat center;
    background-size: 76%;
    cursor: pointer;
    z-index: 99;
    transition: opacity 0.7s ease-out 0.3s;
    -moz-transition: opacity 0.7s ease-out 0.3s;
    -webkit-transition: opacity 0.7s ease-out 0.3s; }

.HoverShakeImage {
  text-align: center;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  float: left;
  margin: 40px 30px; }

.HoverShakeImage figcaption {
  position: absolute;
  left: 0;
  top: 120%;
  width: 120px;
  color: #004E87;
  text-shadow: -1px -1px 0 #fff;
  z-index: 4; }

.HoverShakeImage .crclu {
  position: absolute;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px; }

.HoverShakeImage .Ot1 {
  top: -8px;
  left: -8px;
  width: 120px;
  height: 120px;
  z-index: 2;
  border: 8px solid;
  border-color: #DEEBFC;
  box-shadow: 0 0 3px #AFD3FF;
  -moz-box-shadow: 0 0 3px #AFD3FF;
  -webkit-box-shadow: 0 0 3px #AFD3FF;
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e2efff 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #e2efff));
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #e2efff 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #e2efff 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #e2efff 100%);
  background: radial-gradient(center, ellipse cover, #ffffff 0%, #e2efff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e2efff', GradientType=1);
  transition: box-shadow 1s ease-out, border-color 1s;
  -moz-transition: -moz-box-shadow 1s ease-out, border-color 1s;
  -webkit-transition: -webkit-box-shadow 1s ease-out, border-color 1s; }

.HoverShakeImage .outer2 {
  top: -18px;
  left: -18px;
  width: 136px;
  height: 136px;
  z-index: 1;
  border: 10px solid;
  border-color: #9BC8FF;
  box-shadow: 0 0 3px #8EB9FF;
  -moz-box-shadow: 0 0 3px #8EB9FF;
  -webkit-box-shadow: 0 0 3px #8EB9FF;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity 0.7s ease-out 0.3s, box-shadow 0.7s ease-out 0.3s;
  -moz-transition: opacity 0.7s ease-out 0.3s, -moz-box-shadow 0.7s ease-out 0.3s;
  -webkit-transition: opacity 0.7s ease-out 0.3s, -webkit-box-shadow 0.7s ease-out 0.3s; }

@keyframes shakeEffect {
  0% {
    transform: translate(2px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(0px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg); }
  60% {
    transform: translate(-3px, -2px) rotate(0deg); }
  70% {
    transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -2px) rotate(1deg); }
  90% {
    transform: translate(2px, -1px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
@-moz-keyframes shakeEffect {
  /* Firefox */
  0% {
    -moz-transform: translate(2px, 1px) rotate(0deg); }
  10% {
    -moz-transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -moz-transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -moz-transform: translate(0px, 2px) rotate(0deg); }
  40% {
    -moz-transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -moz-transform: translate(-1px, 1px) rotate(-1deg); }
  60% {
    -moz-transform: translate(-3px, -2px) rotate(0deg); }
  70% {
    -moz-transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    -moz-transform: translate(-1px, -2px) rotate(1deg); }
  90% {
    -moz-transform: translate(2px, -1px) rotate(0deg); }
  100% {
    -moz-transform: translate(1px, -2px) rotate(-1deg); } }
@-webkit-keyframes shakeEffect {
  /* Safari and Chrome */
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 1px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, -2px) rotate(0deg); }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -2px) rotate(1deg); }
  90% {
    -webkit-transform: translate(2px, -1px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg); } }
.registerMain {
  display: inline-block; }
  .registerMain .registerBox {
    float: left;
    margin-left: 200px;
    width: 400px;
    height: 600px;
    font-family: "Microsoft YaHei", "Simsun", Tahoma, Arial, "Helvetica Neue", "Hiragino Sans GB", "sans-self";
    font-size: 14px;
    line-height: 24px; }
    .registerMain .registerBox div, .registerMain .registerBox ul, .registerMain .registerBox ol, .registerMain .registerBox li, .registerMain .registerBox p, .registerMain .registerBox i, .registerMain .registerBox em, .registerMain .registerBox h1, .registerMain .registerBox h2, .registerMain .registerBox h3, .registerMain .registerBox h4, .registerMain .registerBox a, .registerMain .registerBox strong, .registerMain .registerBox span, .registerMain .registerBox img, .registerMain .registerBox form, .registerMain .registerBox input, .registerMain .registerBox textarea, .registerMain .registerBox button {
      padding: 0;
      margin: 0; }
    .registerMain .registerBox .box_content {
      float: left;
      width: 400px;
      margin: 100px auto;
      padding-bottom: 1px;
      background: #fff; }
      .registerMain .registerBox .box_content .signup-email {
        margin: 20px auto;
        width: 300px; }
        .registerMain .registerBox .box_content .signup-email .form-group {
          margin-top: 20px; }
          .registerMain .registerBox .box_content .signup-email .form-group .signup-form {
            width: 300px;
            height: 48px;
            line-height: 48px \9;
            font-size: 14px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box; }
          .registerMain .registerBox .box_content .signup-email .form-group .error-notic {
            color: #ff4e00;
            display: none; }
          .registerMain .registerBox .box_content .signup-email .form-group .buttontTan {
            position: relative;
            width: 300px;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            border: 0;
            background-color: #03a9f4;
            color: #fff;
            border-radius: 5px;
            transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out; }
            .registerMain .registerBox .box_content .signup-email .form-group .buttontTan:hover {
              padding-top: 3px;
              height: 53px;
              line-height: 50px;
              background-color: #0096da;
              transition: all 0.3s ease-out;
              -webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out; }
          .registerMain .registerBox .box_content .signup-email .form-group input {
            padding: 0 10px;
            height: 48px;
            width: 100%;
            outline: none;
            border: 1px #d9d9d9 solid;
            border-radius: 5px !important;
            overflow: hidden; }
            .registerMain .registerBox .box_content .signup-email .form-group input:focus {
              border-color: #03a9f4;
              box-shadow: 0 0 15px #03a9f4;
              -webkit-box-shadow: 0 0 15px #03a9f4;
              -moz-box-shadow: 0 0 15px #03a9f4;
              transition: all 0.3s ease-out;
              -webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out; }
          .registerMain .registerBox .box_content .signup-email .form-group img {
            border: 0; }
          .registerMain .registerBox .box_content .signup-email .form-group div {
            *zoom: 1; }
            .registerMain .registerBox .box_content .signup-email .form-group div:after {
              content: '';
              display: table;
              clear: both; }
        .registerMain .registerBox .box_content .signup-email .view-clause {
          padding-top: 20px;
          line-height: 14px;
          text-align: center;
          color: #808080; }
          .registerMain .registerBox .box_content .signup-email .view-clause .colorRed {
            color: #ff4e00; }
          .registerMain .registerBox .box_content .signup-email .view-clause a {
            color: #03a9f4; }
            .registerMain .registerBox .box_content .signup-email .view-clause a:hover {
              text-decoration: underline; }
            .registerMain .registerBox .box_content .signup-email .view-clause a.reacquire {
              color: #c1c1c1; }
  .registerMain .imgBox {
    position: relative;
    float: left;
    margin-left: 100px;
    width: 400px;
    height: 500px; }
    .registerMain .imgBox .imgContent {
      margin-top: 50px;
      width: 400px;
      height: 500px;
      background: url("../../img/registerUser/bg.png") no-repeat center;
      background-size: 100%; }
    .registerMain .imgBox .backHome {
      position: absolute;
      top: 40px;
      left: 170px;
      width: 125px;
      height: 125px;
      background: url("../../img/forgetPassword/back.png") no-repeat center;
      background-size: 76%;
      cursor: pointer;
      z-index: 99;
      transition: opacity 0.7s ease-out 0.3s;
      -moz-transition: opacity 0.7s ease-out 0.3s;
      -webkit-transition: opacity 0.7s ease-out 0.3s; }
    .registerMain .imgBox div.backHome {
      top: 40px;
      left: 330px; }
    .registerMain .imgBox a.backHome {
      top: -10px;
      left: -10px; }

.waitBox {
  width: 100%;
  height: 500px;
  position: relative; }
  .waitBox .waitContainer {
    position: absolute;
    margin-top: 200px;
    width: 600px;
    height: 400px;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%); }
    .waitBox .waitContainer div, .waitBox .waitContainer span {
      position: absolute; }
    .waitBox .waitContainer .item {
      width: 200px;
      height: 200px;
      bottom: 70px;
      left: 50%;
      margin-left: -50px;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom; }
      .waitBox .waitContainer .item .chewing {
        width: 100px;
        height: 100px;
        bottom: 0;
        left: 50%;
        margin-left: -50px;
        box-shadow: inset 10px -6px 10px rgba(0, 0, 0, 0.1);
        border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
        -webkit-animation: bounce 0.6s ease-in-out infinite;
        animation: bounce 0.6s ease-in-out infinite; }
        .waitBox .waitContainer .item .chewing .eye {
          background: #fff;
          border-radius: 50%;
          border-top: 2px solid #111; }
          .waitBox .waitContainer .item .chewing .eye span {
            width: 4px;
            height: 4px;
            background: #232323;
            border-radius: 2px; }
          .waitBox .waitContainer .item .chewing .eye.left {
            top: 30px;
            left: 20px;
            width: 30px;
            height: 29px;
            -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
            .waitBox .waitContainer .item .chewing .eye.left span {
              top: 14px;
              left: 15px; }
          .waitBox .waitContainer .item .chewing .eye.right {
            top: 35px;
            right: 20px;
            width: 20px;
            height: 20px;
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
            .waitBox .waitContainer .item .chewing .eye.right span {
              top: 9px;
              left: 7px; }
        .waitBox .waitContainer .item .chewing .mounth {
          width: 16px;
          height: 4px;
          bottom: 20px;
          background: #fff;
          border-radius: 50% 50% 100% 100%; }
          .waitBox .waitContainer .item .chewing .mounth .arm {
            width: 15px;
            height: 16px;
            bottom: 28px;
            border-radius: 7px;
            z-index: -1;
            -webkit-animation: arm-bounce 0.7s ease-in infinite;
            animation: arm-bounce 0.7s ease-in infinite; }
            .waitBox .waitContainer .item .chewing .mounth .arm.left {
              left: -13px;
              -webkit-transform: rotate(-20deg);
              transform: rotate(-20deg); }
            .waitBox .waitContainer .item .chewing .mounth .arm.right {
              right: -13px;
              -webkit-transform: rotate(20deg);
              transform: rotate(20deg); }
      .waitBox .waitContainer .item .shadow {
        width: 70px;
        height: 10px;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        background: #37a45b;
        box-shadow: 0 0 5px #37a45b;
        -webkit-animation: shadow 0.7s ease-in-out infinite;
        animation: shadow 0.7s ease-in-out infinite;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
      .waitBox .waitContainer .item#pink {
        left: 44%;
        z-index: 30; }
        .waitBox .waitContainer .item#pink .chewing {
          background: #faa8d7; }
        .waitBox .waitContainer .item#pink .mounth {
          left: 43px; }
        .waitBox .waitContainer .item#pink .arm {
          background: #faa8d7; }
      .waitBox .waitContainer .item#orange {
        left: 31%;
        z-index: 20;
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
        .waitBox .waitContainer .item#orange .chewing {
          background: #f0a524;
          -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
        .waitBox .waitContainer .item#orange .mounth {
          left: 37px;
          -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
          -webkit-animation: mounth 0.7s ease-in-out infinite;
          animation: mounth 0.7s ease-in-out infinite; }
        .waitBox .waitContainer .item#orange .arm {
          background: #f0a524; }
      .waitBox .waitContainer .item#blue {
        left: 64%;
        z-index: 20;
        -webkit-transform: scale(1.4);
        transform: scale(1.4); }
        .waitBox .waitContainer .item#blue .chewing {
          background: royalblue;
          -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
        .waitBox .waitContainer .item#blue .mounth {
          left: 37px;
          width: 20px;
          height: 5px;
          -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
          -webkit-animation: mounth 0.7s ease-in-out infinite;
          animation: mounth 0.7s ease-in-out infinite; }
        .waitBox .waitContainer .item#blue .arm {
          background: royalblue; }
  .waitBox .backHome {
    position: absolute;
    top: 40px;
    left: 170px;
    width: 125px;
    height: 125px;
    background: url("../../img/forgetPassword/back.png") no-repeat center;
    background-size: 76%;
    cursor: pointer;
    z-index: 99;
    transition: opacity 0.7s ease-out 0.3s;
    -moz-transition: opacity 0.7s ease-out 0.3s;
    -webkit-transition: opacity 0.7s ease-out 0.3s; }
  .waitBox div.backHome {
    top: 40px;
    left: 330px; }
  .waitBox a.backHome {
    top: -10px;
    left: -10px; }
  .waitBox .waitWords {
    position: absolute;
    top: 140px;
    left: 590px;
    width: 400px;
    height: 50px;
    color: #fff;
    font-size: 20px; }
@keyframes bounce {
  0% {
    bottom: 0; }
  65% {
    bottom: 8px; }
  100% {
    bottom: 0;
    border-radius: 49% 47% 42% 40%/60% 60% 40% 40%; } }
@keyframes arm-bounce {
  0%, 100% {
    bottom: 28px; }
  33% {
    bottom: 23px; }
  40% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  66% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes shadow {
  0%, 100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  50% {
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9); } }
@keyframes mounth {
  0%, 100% {
    height: 4px;
    border-radius: 50% 50% 100% 100%; }
  50% {
    height: 8px;
    bottom: 17px;
    border-radius: 30% 30% 100% 100%; } }
.auditUserBox {
  display: inline-block;
  width: 100%;
  background: #fff; }
  .auditUserBox .ui-select {
    float: left;
    top: 6px;
    right: 0;
    background: transparent; }
    .auditUserBox .ui-select .ui-select-input {
      border-radius: 5px; }
      .auditUserBox .ui-select .ui-select-input > input {
        border-radius: 5px; }
      .auditUserBox .ui-select .ui-select-input > i {
        background: transparent; }
        .auditUserBox .ui-select .ui-select-input > i:before {
          position: relative;
          left: 5px; }
    .auditUserBox .ui-select .ui-select-trigger {
      display: none; }
  .auditUserBox .ui-select-down .ui-select-content {
    margin-top: 0 !important; }
  .auditUserBox .tdRight {
    display: inline-block; }
  .auditUserBox .td_user {
    width: 100px;
    padding: 20px; }
  .auditUserBox .td_department {
    width: 200px; }
  .auditUserBox .td_post {
    width: 100px; }
  .auditUserBox .td_post_buttom {
    padding: 5px 10px;
    margin: 10px 30px;
    width: 50px;
    text-align: center;
    height: 20px;
    line-height: 15px;
    color: #fff;
    background: #4a9ce2;
    border-radius: 5px;
    cursor: pointer; }
  .auditUserBox .groupBox {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-left: 1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    .auditUserBox .groupBox span {
      display: inline-block;
      float: left;
      margin-right: 10px;
      font-size: 12px;
      height: 35px;
      line-height: 15px;
      padding: 10px 10px;
      border: 1px solid #FFB9B9;
      border-radius: 5px;
      color: #FFB9B9;
      cursor: pointer;
      text-decoration: none; }

body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

.loginBox {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
  color: #222;
  font-size: 12px; }
  .loginBox .formBox {
    margin-top: 200px;
    width: 100%;
    height: 500px; }
  .loginBox .top_div_box {
    position: relative;
    left: -100px;
    margin: 0 auto auto;
    border: 1px solid #e7e7e7;
    border-image: none;
    width: 400px;
    height: 220px;
    text-align: center;
    background: white; }
    .loginBox .top_div_box .top_div_content {
      width: 165px;
      height: 96px;
      position: absolute; }
    .loginBox .top_div_box .colorRed_box {
      position: absolute;
      top: 134px;
      left: 163px;
      color: red; }
    .loginBox .top_div_box .box_p_content {
      padding: 30px 0px 10px;
      position: relative; }
    .loginBox .top_div_box .box_p_content2 {
      position: relative; }
    .loginBox .top_div_box .form_content {
      height: 40px;
      line-height: 30px;
      margin-top: 30px;
      border-top: 1px solid #e7e7e7; }
      .loginBox .top_div_box .form_content .form_p_content {
        margin: 10px 35px 20px 45px;
        height: 40px; }
        .loginBox .top_div_box .form_content .form_p_content .content_span_forget {
          float: left;
          margin: 0; }
          .loginBox .top_div_box .form_content .form_p_content .content_span_forget .span_a {
            color: #cccccc;
            text-decoration: none;
            cursor: pointer; }
        .loginBox .top_div_box .form_content .form_p_content .content_span {
          float: right; }
          .loginBox .top_div_box .form_content .form_p_content .content_span .span_a {
            color: #cccccc;
            margin-right: 10px;
            cursor: pointer; }
          .loginBox .top_div_box .form_content .form_p_content .content_span .span_button {
            background: #008ead;
            margin-right: 30px;
            height: 30px;
            line-height: 27px;
            border-radius: 4px;
            border: 1px solid #1a7598;
            border-image: none;
            color: white;
            font-weight: bold;
            text-decoration: none; }
  .loginBox .ipt {
    border: 1px solid #d3d3d3;
    padding: 10px 10px;
    width: 290px;
    border-radius: 4px;
    padding-left: 35px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .loginBox .ipt:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .loginBox .u_logo {
    background: url("../../img/login/username.png") no-repeat;
    background-size: 100%;
    padding: 10px 10px;
    position: absolute;
    top: 43px;
    left: 20px; }
  .loginBox .p_logo {
    background: url("../../img/login/password.png") no-repeat;
    background-size: 100%;
    padding: 10px 10px;
    position: absolute;
    top: 12px;
    left: 20px; }
  .loginBox a {
    text-decoration: none; }
  .loginBox .tou {
    background: url("../../img/login/tou.png") no-repeat;
    width: 97px;
    height: 92px;
    position: absolute;
    top: -87px;
    left: 140px; }
  .loginBox .left_hand {
    background: url("../../img/login/left_hand.png") no-repeat;
    width: 32px;
    height: 37px;
    position: absolute;
    top: -38px;
    left: 150px; }
  .loginBox .right_hand {
    background: url("../../img/login/right_hand.png") no-repeat;
    width: 32px;
    height: 37px;
    position: absolute;
    top: -38px;
    right: -64px; }
  .loginBox .initial_left_hand {
    background: url("../../img/login/hand.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -12px;
    left: 100px; }
  .loginBox .initial_right_hand {
    background: url("../../img/login/hand.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -12px;
    right: -112px; }
  .loginBox .left_handing {
    background: url("../../img/login/left-handing.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -24px;
    left: 139px; }
  .loginBox .right_handinging {
    background: url("../../img/login/right_handing.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -21px;
    left: 210px; }

body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

#main-container {
  float: left; }
  #main-container #sidebar {
    position: inherit; }

.MenuWrapper {
  /*background-color: #fff;*/
  display: inline-block;
  float: left;
  opacity: 0.9;
  border: none;
  /* 	border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 50px rgba(0,0,0,0.8); */
  color: #ff6600;
  font-size: 14px;
  width: 600px;
  height: 40px;
  text-align: center;
  z-index: 9999;
  font-weight: 400; }

.ulMenu {
  text-transform: uppercase;
  width: 600px;
  margin: 0;
  padding: 0;
  display: inline-block; }

.ulMenu > li {
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  color: #fff;
  /* border-radius: 50px; */
  float: left;
  padding: 0 28px 0 0;
  height: 40px;
  line-height: 40px; }

.ulMenu > li span {
  display: inline-block;
  color: #fff;
  padding: 0 10px 0 15px; }

.submenuWrapper {
  position: absolute;
  cursor: auto;
  width: 100%;
  height: 60px;
  line-height: 60px;
  left: 0px;
  /*border-radius: 50px;*/
  /*position: fixed;*/
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #645A5A;
  /*  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); */
  top: 40px;
  z-index: 9999;
  display: none; }

.submenuContainer {
  height: 60px;
  line-height: 60px;
  text-align: left;
  margin: auto;
  padding: 0 0 0 117px; }
  .submenuContainer .submenu {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-right: 80px;
    line-height: 17px; }
    .submenuContainer .submenu li {
      margin-bottom: 18px;
      display: block;
      float: left;
      padding: 28px 88px 20px 55px; }
    .submenuContainer .submenu a {
      color: #fff;
      text-decoration: none;
      text-transform: none; }
      .submenuContainer .submenu a:hover {
        color: #fff; }

.bgColor li.liColorOne {
  background: #087366;
  text-decoration: none;
  list-style-type: none; }

.bgColor li.liColorTwo {
  background: #59130D;
  text-decoration: none;
  list-style-type: none; }

.bgColor li.liColorThree {
  background: #0D4A59;
  text-decoration: none;
  list-style-type: none; }

.bgColor li.liColorFour {
  background: #072D49;
  text-decoration: none;
  list-style-type: none; }

.bgColor li.liColorOne .submenuWrapper {
  /* background:rgba(48, 102, 101, 0.3); */
  background: #087366; }

.bgColor li.liColorTwo .submenuWrapper {
  background: #59130D; }

.bgColor li.liColorThree .submenuWrapper {
  background: #0D4A59; }

.bgColor li.liColorFour .submenuWrapper {
  background: #072D49; }

.ulMenu .selected span {
  color: #fff; }

.carat {
  display: inline-block;
  margin-top: -2px;
  border: 4px solid transparent;
  border-top: 5px solid #fff; }

li.liColorOne .caratOne {
  border-bottom: 5px solid #fff;
  border-top: 4px solid transparent;
  margin-top: -6px; }

li.liColorTwo .caratTwo {
  border-bottom: 5px solid #fff;
  border-top: 4px solid transparent;
  margin-top: -6px; }

li.liColorThree .caratThree {
  border-bottom: 5px solid #fff;
  border-top: 4px solid transparent;
  margin-top: -6px; }

li.liColorFour .caratFour {
  border-bottom: 5px solid #fff;
  border-top: 4px solid transparent;
  margin-top: -6px; }

.RLDom {
  display: block;
  float: right;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 10px 0 10px; }
  .RLDom a {
    color: #fff;
    text-decoration: none; }
    .RLDom a:hover {
      color: #fff;
      text-decoration: none; }
  .RLDom span {
    color: #fff; }

.userInfoWrapper {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  border: 2px solid #fff;
  display: block;
  float: right; }
  .userInfoWrapper .userInfoNobody {
    height: 26px;
    width: 26px;
    display: block;
    background: #fff;
    line-height: 26px;
    text-align: center;
    font-size: 26px;
    color: #278CDE;
    cursor: pointer; }
  .userInfoWrapper .userInfoPhoto {
    height: 26px;
    width: 26px;
    display: block;
    background: url("../modules/a1.png") 50% 50% no-repeat;
    background-size: 100%;
    cursor: pointer; }
  .userInfoWrapper .userInfoBox {
    width: 150px;
    position: absolute;
    top: 40px;
    right: 0;
    background: #fff;
    border: 1px solid #278CDE; }
    .userInfoWrapper .userInfoBox .skinWrapper {
      display: block; }

body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

.wrapperNavOn {
  margin-top: 60px; }

.wrapperNavOff {
  margin-top: 0; }

body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

table, tr, th, td {
  margin: 0;
  padding: 0; }

.poReviseCententTitle {
  height: 40px;
  background-color: #f5f5f5; }
  .poReviseCententTitle .poReviseCententTitleLeft {
    height: 30px;
    width: 120px;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    float: left;
    background-color: #fff; }
  .poReviseCententTitle .poReviseCententTitleRight {
    height: 30px;
    width: 70px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    float: left;
    background-color: #fff; }
    .poReviseCententTitle .poReviseCententTitleRight .poAddBoxButton {
      height: 30px;
      line-height: 26px;
      background-color: #008ead;
      color: #fff; }
    .poReviseCententTitle .poReviseCententTitleRight a {
      color: #0A9916;
      font-size: 20px;
      text-decoration: none; }
  .poReviseCententTitle .poReviseCententTitleNote {
    float: left;
    height: 30px;
    padding: 0;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    color: red;
    border: 1px solid red;
    background: #fff; }

.poReviseCententTitleSign {
  background-color: #004F66 !important; }

.poContents tr {
  width: 100%; }

.poContents {
  margin: 0px !important;
  padding: 0px !important;
  width: 100% !important; }
  .poContents .poHeaderTop {
    z-index: 50;
    width: 100%;
    height: 40px;
    background-color: #008ead;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    border-bottom: 1px solid #fff; }
    .poContents .poHeaderTop .topTitle {
      display: block;
      height: 40px;
      line-height: 40px;
      width: 200px;
      margin-left: 10px;
      color: #fff;
      font-size: 23px; }
  .poContents .poName {
    font-size: 100px;
    height: 300px;
    line-height: 300px;
    text-align: center; }
    .poContents .poName > a {
      color: #008ead;
      text-decoration: none;
      text-transform: none; }
  .poContents .poHeader {
    height: 100%;
    line-height: 60px;
    position: absolute;
    width: 100px;
    padding: 40px 0 0 0 !important;
    float: left;
    background: #008ead; }
    .poContents .poHeader ul > li {
      text-decoration: none;
      list-style-type: none;
      text-align: center; }
    .poContents .poHeader .poLeftUl {
      display: inline-block;
      padding: 50px 0 0 0;
      height: auto; }
      .poContents .poHeader .poLeftUl li {
        padding: 0 !important;
        display: block;
        float: left; }
        .poContents .poHeader .poLeftUl li a {
          color: #f5f5f5;
          padding: 0 5px;
          width: 80px;
          height: 30px;
          line-height: 30px;
          display: block;
          margin: 5px auto;
          border: 1px dotted #fff;
          text-decoration: none; }
          .poContents .poHeader .poLeftUl li a:hover {
            background-color: #f5f5f5;
            text-decoration: none;
            color: #008ead; }
  .poContents .poAddBox {
    margin: 40px 0 0 100px;
    background: #f5f5f5;
    padding: 0 !important;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff; }
    .poContents .poAddBox table {
      margin: 0 !important; }
      .poContents .poAddBox table tr td {
        padding: 0 !important; }
        .poContents .poAddBox table tr td .tdLeft, .poContents .poAddBox table tr td .tdContent, .poContents .poAddBox table tr td .tdRight {
          height: 30px;
          line-height: 30px;
          margin-left: 10px;
          float: left; }
        .poContents .poAddBox table tr td .tdLeft {
          width: 370px; }
        .poContents .poAddBox table tr td .tdLeft > span, .poContents .poAddBox table tr td .tdContent > span, .poContents .poAddBox table tr td .tdRight > span {
          margin-top: 1px; }
        .poContents .poAddBox table tr td .tdRight > a {
          margin-left: 10px; }
        .poContents .poAddBox table tr td .tdLeft > input, .poContents .poAddBox table tr td .tdContent > input, .poContents .poAddBox table tr td .tdRight > input {
          height: 28px;
          margin-top: 1px;
          padding-left: 10px;
          border: 1px solid #c8c8c8; }
    .poContents .poAddBox span, .poContents .poAddBox input {
      display: block;
      float: left; }
  .poContents .poReviseBox {
    margin: 40px 0 0 100px;
    background: #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff; }
    .poContents .poReviseBox table th {
      text-align: center; }
    .poContents .poReviseBox table td {
      padding: 0 !important;
      text-align: center; }
      .poContents .poReviseBox table td a.editImg {
        background: url(../../img/po/edit.gif);
        color: #9d9c9a;
        font-size: 10px;
        text-decoration: none;
        padding: 0 0 0 14px;
        background-repeat: no-repeat;
        background-position: 0 0; }
      .poContents .poReviseBox table td a.delImg {
        background: url(../../img/po/del.gif);
        color: #9d9c9a;
        font-size: 10px;
        text-decoration: none;
        padding: 0 0 0 14px;
        background-repeat: no-repeat;
        background-position: 0 0; }
  .poContents .poNav {
    height: 80px;
    line-height: 80px;
    float: left;
    border: 5px solid #647863;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .poContents .poNav ul > li {
      text-decoration: none;
      list-style-type: none;
      text-align: center; }
  .poContents .poTextarea {
    border-left: 1px solid #fff;
    margin-left: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }

.deleteProseTh20 {
  width: 20%;
  display: block;
  float: left; }
  .deleteProseTh20 p {
    margin: 0;
    padding: 0; }

.deleteCatalogueTh10 {
  width: 10%;
  display: block;
  float: left; }
  .deleteCatalogueTh10 p {
    margin: 0;
    padding: 0; }

.deleteCatalogueTh20 {
  width: 20%;
  display: block;
  float: left; }
  .deleteCatalogueTh20 p {
    margin: 0;
    padding: 0; }

.deleteCatalogueTh50 {
  width: 50%;
  display: block;
  float: left; }
  .deleteCatalogueTh50 p {
    margin: 0;
    padding: 0; }

.deleteBlogTh16 {
  width: 16.6666%;
  display: block;
  float: left; }
  .deleteBlogTh16 p {
    margin: 0;
    padding: 0; }

/*# sourceMappingURL=index.css.map */
