<li>
  <span class="liColorFour">日报/Today</span>

  <div class="carat caratFour"></div>
  <div class="submenuWrapper">
    <div class="submenuContainer">
      <ul class="submenu">
        <li>
          <a href="/in/prose">查看日报</a>
        </li>
        <li>
          <a href="/poProse">编辑日报</a>
        </li>
        <li>
          <a href="/in/allProse">查看全部</a>
        </li>
      </ul>
    </div>
  </div>
</li>