<footer class="footerGb">
  <div class="gobackheader">
    <a id="gotop" href="javascript:void(0)"></a>
  </div>
  <div class="container footerContentBg">
    <div class="site-footer">
      <ul class="site-footer-links">
        <li>© 2015 kahn1990.com</li>
      </ul>
    </div>
  </div>
</footer>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../lib/prettify/prettify.js"></script>
<script type="text/javascript" src="../lib/jquery/jquery-ui.min.js"></script>
<script src="../js/index.js"></script>
<script type="text/javascript" src="../js/module/menu/modernizr.js"></script>
<script type="text/javascript" src="../js/module/menu/main.js"></script>
</body>
</html>