<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link href="../css/index.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../lib/prettify/prettify.css">
  <link href="../lib/menuJson/assets/css/bootstrap-responsive.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../lib/menuJson/assets/css/font-awesome.min.css"/>
  <!--[if IE 7]>
  <link rel="stylesheet" href="../lib/menuJson/assets/css/font-awesome-ie7.min.css"/>
  <![endif]-->
  <!--page specific plugin styles-->
  <!--fonts-->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300"/>
  <!--ace styles-->
  <link rel="stylesheet" href="../lib/menuJson/assets/css/ace.min.css"/>
  <link rel="stylesheet" href="../lib/menuJson/assets/css/ace-responsive.min.css"/>
  <link rel="stylesheet" href="../lib/menuJson/assets/css/ace-skins.min.css"/>
  <script type="text/javascript">
    window.jQuery || document.write ( "<script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'>" + "<" + "/script>" );
  </script>
</head>
<body>
