<header class="headerWrapper">
    <div class="container headerDiv">
        <!-- 左浮动 -->
        <%- include header/logo %>
        <%- include menu %>
        <!-- 右浮动 -->
    </div>
</header>
<div id="main-container"></div>