body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

.closeProse h2 i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }
.closeProse .list {
  opacity: 0;
  height: 0 !important; }

.dayReportTree {
  position: relative;
  width: 960px;
  margin: 0 auto; }
  .dayReportTree h2 {
    height: 40px;
    width: 170px;
    padding-right: 30px;
    font-size: 24px;
    line-height: 40px;
    text-align: right; }
    .dayReportTree h2 a {
      color: #58a6fb;
      text-decoration: none; }
      .dayReportTree h2 a i {
        display: block;
        position: relative;
        height: 0;
        width: 0;
        left: 190px;
        top: -20px;
        border-width: 6px;
        border-style: solid;
        border-color: #59a7fb transparent transparent transparent;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        -webkit-transform-origin: 6px 3px;
        -moz-transform-origin: 6px 3px;
        -ms-transform-origin: 6px 3px;
        -o-transform-origin: 6px 3px;
        transform-origin: 6px 3px; }
  .dayReportTree .list {
    margin: 10px 0;
    overflow: hidden;
    -webkit-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    -moz-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    -ms-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    -o-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    bottom: 0; }
    .dayReportTree .list .cls {
      display: inline-block;
      color: #a1a4b8;
      zoom: 1;
      list-style-type: none;
      height: 200px;
      width: 14%; }
      .dayReportTree .list .cls.zeroBG .date {
        background: #ff877e; }
      .dayReportTree .list .cls.zeroBG .more, .dayReportTree .list .cls.zeroBG .intro {
        background: #ffbf8d; }
      .dayReportTree .list .cls:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .dayReportTree .list .cls .version, .dayReportTree .list .cls .date {
        display: block;
        clear: left;
        line-height: 24px;
        text-align: center; }
      .dayReportTree .list .cls .date {
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 32px;
        color: #ffffff;
        background-color: #62b1d0; }
      .dayReportTree .list .cls .more, .dayReportTree .list .cls .intro {
        float: left;
        display: inline-block;
        width: 100%;
        height: 150px;
        line-height: 15px;
        background-color: #f2ffe5;
        text-indent: 10px;
        position: relative; }
      .dayReportTree .list .cls div.iconfont {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden; }
        .dayReportTree .list .cls div.iconfont:before {
          position: absolute;
          top: 37%;
          left: 30%;
          width: 70px;
          height: 70px;
          margin: 0 auto;
          display: inline-block;
          color: #e4f5e7;
          font-size: 50px;
          z-index: 1; }
      .dayReportTree .list .cls div.contentBox {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 5px;
        box-sizing: border-box;
        overflow: auto;
        z-index: 2; }
      .dayReportTree .list .cls .intro {
        font-size: 18px;
        height: 32px;
        line-height: 32px;
        color: #63d029; }

.basicBg {
  background: #23e5db;
  color: #ffffff; }

.dayReportWrapper {
  background-color: #ffffff;
  margin: 0 0 0 190px;
  padding: 40px 0 0 0; }

.tab-content .tab-pane {
  width: 100%;
  position: relative; }

.dataContent {
  width: 100%;
  display: inline-block;
  position: relative; }
  .dataContent .dataLeftContent {
    list-style: none;
    width: 50px;
    float: left;
    text-align: center;
    padding: 0;
    background-color: #008ead;
    margin-right: -100%; }
    .dataContent .dataLeftContent .dataBoxRelative {
      width: 50px;
      height: 150px;
      padding-top: 65px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      color: #ffffff; }
    .dataContent .dataLeftContent .dateHeight {
      height: 32px;
      line-height: 32px;
      padding: 0px; }
  .dataContent .dataRightContent {
    width: 100%;
    padding-left: 53px;
    box-sizing: border-box; }
    .dataContent .dataRightContent .dataRightContentOverflow {
      width: 100%;
      overflow-x: auto; }
      .dataContent .dataRightContent .dataRightContentOverflow .contentWidth100 {
        width: 1500px; }
        .dataContent .dataRightContent .dataRightContentOverflow .contentWidth100 .dateBox {
          width: 100%;
          height: 32px;
          line-height: 32px;
          list-style: none;
          margin: 0;
          padding: 0; }
          .dataContent .dataRightContent .dataRightContentOverflow .contentWidth100 .dateBox .dataContentDate {
            width: 214px;
            float: left;
            display: inline-block;
            background: #62b1d0;
            text-align: center; }
        .dataContent .dataRightContent .dataRightContentOverflow .contentWidth100 .noteBox .dataContentBox {
          width: 100%;
          height: 150px;
          list-style: none;
          margin: 0;
          padding: 0; }
          .dataContent .dataRightContent .dataRightContentOverflow .contentWidth100 .noteBox .dataContentBox .dataContentList {
            width: 214px;
            float: left;
            height: inherit;
            background: #ff15b9;
            box-sizing: border-box;
            border: 1px solid #ffffff; }
            .dataContent .dataRightContent .dataRightContentOverflow .contentWidth100 .noteBox .dataContentBox .dataContentList .contentBox {
              width: 100%;
              height: 100%;
              border: 1px solid #eefffa;
              background: #f2ffe5;
              word-break: break-all;
              text-indent: 2px; }
              .dataContent .dataRightContent .dataRightContentOverflow .contentWidth100 .noteBox .dataContentBox .dataContentList .contentBox.ql-container {
                padding: 2px;
                color: #393939 !important; }
              .dataContent .dataRightContent .dataRightContentOverflow .contentWidth100 .noteBox .dataContentBox .dataContentList .contentBox.myselfBg {
                background: #ff938c;
                color: #ffffff; }
              .dataContent .dataRightContent .dataRightContentOverflow .contentWidth100 .noteBox .dataContentBox .dataContentList .contentBox .ql-editor {
                background: #ffffff; }
  .dataContent .clearfix:after {
    height: 0;
    content: ".";
    display: block;
    clear: both;
    visibility: hidden; }

/*# sourceMappingURL=dayReportIndex.css.map */
