@import '../definition';
html{
  width: 100%;
  height: 100%;
  body{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.headerWrapper {
  width         : 100%;
  background    : #278cde;
  height        : 40px;
  border-top    : 1px solid rgba(255, 255, 255, 0.3);
  border-bottom : 1px solid rgba(0, 0, 0, 0.4);
  box-shadow    : 0 0 50px rgba(0, 0, 0, 0.8);
}

.headerDiv {
  position : absolute;
  left     : 0;
  top      : 0;
  z-index  : 99;
  width    : 100% !important;
}

.logo {
  float  : left;
  width  : 200px;
  height : 100%;
}

.logo span {
  color       : #ffffff;
  font-size   : 30px;
  font-weight : bold;
  font-family : Georgia, "Times New Roman", Times, serif;
  p {
    font-size : 12px;
    padding   : 0;
    margin    : 0;
  }
}