#main-container {
  float : left;
  #sidebar {
    position : inherit;
  }
}

.MenuWrapper {
  display     : inline-block;
  float       : left;
  opacity     : 0.9;
  border      : none;
  /* 	border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 50px rgba(0,0,0,0.8); */
  color       : #ff6600;
  font-size   : 14px;
  width       : 700px;
  height      : 40px;
  text-align  : center;
  z-index     : 9999;
  font-weight : 400;
  .menu, .menu ul {
    list-style : none;
    padding    : 0;
    margin     : 0;
  }
  .menu {
    height : 40px;
    & > li {
      display  : block;
      float    : left;
      position : relative;
      &:first-child {
        border-radius : 5px 0 0;
      }
    }
    li {
      background    : -moz-linear-gradient(#278cde, #137ace);
      background    : -ms-linear-gradient(#278cde, #137ace);
      background    : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #278cde), color-stop(100%, #137ace));
      background    : -webkit-linear-gradient(#278cde, #137ace);
      background    : -o-linear-gradient(#278cde, #137ace);
      filter        : progid:DXImageTransform.Microsoft.gradient(startColorstr='#278CDE', endColorstr='#137ACE');
      -ms-filter    : "progid:DXImageTransform.Microsoft.gradient(startColorstr='#278CDE', endColorstr='#137ACE')";
      background    : linear-gradient(#278cde, #137ace);

      border-bottom : 2px solid #1869ab;
      border-top    : 2px solid #5fa7e2;
      min-width     : 160px;
      &:hover {
        background-color : #1c1c1c;
        background       : -moz-linear-gradient(#1869ab, #5fa7e2);
        background       : -ms-linear-gradient(#1869ab, #5fa7e2);
        background       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1869ab), color-stop(100%, #5fa7e2));
        background       : -webkit-linear-gradient(#1869ab, #5fa7e2);
        background       : -o-linear-gradient(#1869ab, #5fa7e2);
        filter           : progid:DXImageTransform.Microsoft.gradient(startColorstr='#1869AB', endColorstr='#5FA7E2');
        -ms-filter       : "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1869AB', endColorstr='#5FA7E2')";
        background       : linear-gradient(#1869ab, #5fa7e2);

        border-bottom    : 2px solid #278cde;
        border-top       : 2px solid #137ace;
        & > a {
          border-radius : 5px 0 0 0;
          border-left   : 3px solid #1967ab;
          color         : #ffffff;
        }
      }
      &.active:hover, &.focus:hover {
        .submenu {
          display    : block;
          max-height : 200px;
          z-index    : 10;
          li {
            opacity           : 1;
            -webkit-transform : none;
            -moz-transform    : none;
            -ms-transform     : none;
            -o-transform      : none;
            transform         : none;
            &:nth-child(1) {
              -webkit-transition-delay : 0s;
              -moz-transition-delay    : 0s;
              -ms-transition-delay     : 0s;
              -o-transition-delay      : 0s;
              transition-delay         : 0s;
            }
            &:nth-child(2) {
              -webkit-transition-delay : 50ms;
              -moz-transition-delay    : 50ms;
              -ms-transition-delay     : 50ms;
              -o-transition-delay      : 50ms;
              transition-delay         : 50ms;
            }
            &:nth-child(3) {
              -webkit-transition-delay : 100ms;
              -moz-transition-delay    : 100ms;
              -ms-transition-delay     : 100ms;
              -o-transition-delay      : 100ms;
              transition-delay         : 100ms;
            }
          }
        }
      }
      .submenu {
        display             : none;
        left                : 0;
        max-height          : 0;
        position            : absolute;
        top                 : 100%;
        z-index             : 0;
        -webkit-perspective : 400px;
        -moz-perspective    : 400px;
        -ms-perspective     : 400px;
        -o-perspective      : 400px;
        perspective         : 400px;
        li {
          opacity            : 0;
          -webkit-transform  : rotateY(90deg);
          -moz-transform     : rotateY(90deg);
          -ms-transform      : rotateY(90deg);
          -o-transform       : rotateY(90deg);
          transform          : rotateY(90deg);
          -webkit-transition : opacity .4s, -webkit-transform .5s;
          -moz-transition    : opacity .4s, -moz-transform .5s;
          -ms-transition     : opacity .4s, -ms-transform .5s;
          -o-transition      : opacity .4s, -o-transform .5s;
          transition         : opacity .4s, transform .5s;
          &:hover a {
            border-left   : 3px solid #454545;
            border-radius : 0;
            color         : #ffffff;
          }
          &:nth-child(1) {
            -webkit-transition-delay : 350ms;
            -moz-transition-delay    : 350ms;
            -ms-transition-delay     : 350ms;
            -o-transition-delay      : 350ms;
            transition-delay         : 350ms;
          }
          &:nth-child(2) {
            -webkit-transition-delay : 300ms;
            -moz-transition-delay    : 300ms;
            -ms-transition-delay     : 300ms;
            -o-transition-delay      : 300ms;
            transition-delay         : 300ms;
          }
          &:nth-child(3) {
            -webkit-transition-delay : 250ms;
            -moz-transition-delay    : 250ms;
            -ms-transition-delay     : 250ms;
            -o-transition-delay      : 250ms;
            transition-delay         : 250ms;
          }
        }
      }
    }
    a {
      border-left     : 3px solid rgba(0, 0, 0, 0);
      color           : #ffffff;
      display         : block;
      font-family     : 'Lucida Console';
      font-size       : 18px;
      line-height     : 36px;
      padding         : 0 25px;
      text-decoration : none;
      text-transform  : uppercase;
    }
  }
}
